<igc-data-grid 
  id="infragistics-data-grid"
  height="420px" 
  width="100%"
  auto-generate-columns="false"
  default-column-min-width="120">
  <igc-numeric-column field="ProductID" header-text="Product ID"></igc-numeric-column>
  <igc-text-column field="ProductName" header-text="Product Name"></igc-text-column>
  <igc-text-column field="QuantityPerUnit" header-text="Quantity Per Unit"></igc-text-column>
  <igc-numeric-column field="UnitsInStock" header-text="Units In Stock"></igc-numeric-column>
  <igc-numeric-column field="UnitPrice" header-text="Unit Price"></igc-numeric-column>
  <igc-date-time-column field="OrderDate" header-text="Order Date"></igc-date-time-column>
  <igc-text-column field="Discontinued" header-text="Discontinued"></igc-text-column>
</igc-data-grid>